<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>22012254675-3fveh4h7hcdbluen8t3jfgjlkgc1b3l1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.22012254675-3fveh4h7hcdbluen8t3jfgjlkgc1b3l1</string>
	<key>API_KEY</key>
	<string>AIzaSyDF-M4gRN2FPRNDS28U0vmYekqgu2vWhj4</string>
	<key>GCM_SENDER_ID</key>
	<string>22012254675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.customRoutes</string>
	<key>PROJECT_ID</key>
	<string>my-custom-routes</string>
	<key>STORAGE_BUCKET</key>
	<string>my-custom-routes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22012254675:ios:2e65eeabf07d7691f17726</string>
</dict>
</plist>